body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    /* this sets the footer where it belongs */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
  }

h1 {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 50px;
  color: rgba(242, 0, 250, 0.644);
  margin-top: 3%;
  margin-bottom: 3%;
}
  
h1:hover {
  color: rgb(23, 196, 226);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #e60073, 0 0 5px #e60073, 0 0 5px #e60073, 0 0 5px #e60073, 0 0 5px #e60073;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6;
  }
}


.main , .calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    height: 510px;
    width: 400px;
    margin: 0px;
    padding: 0px;
    border-radius: 100px;
    border: 2px solid;
    border-color: #807b7d;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  
  height: 60px;
  width: 75px;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
}

#clearBtn , #deleteBtn {
  grid-column: span 2;
  width: 155px;
}

#deleteBtn {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 10px;
  
}

.screen {
  padding: 10px 20px;
  border: 0px;
  height: 80px;
  width: 280px;
  border-radius: 100px;
  margin-bottom: 20px;
  background-color: rgb(207, 198, 198);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

/* Responsive design for mobile screens */
@media (max-width: 768px) {
    .main, .calculator {
        width: 350px;
        border-radius: 80px;
    }

    .screen {
        width: 260px;
        border-radius: 90px;
    }
}
